@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="post">
    <div class="container">
        <label class="col-form-label">Enter Employee Name</label>
        <input type="text" name="term" value="" class="input-group" placeholder="Enter Employee Name" />
        <input type="submit" name="name" value="Search" class="btn btn-outline-primary" />
    </div>
</form>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No Employee,,, click here
        <a asp-action="Create" asp-controller="Employees" class="btn btn-secondary">
            Create
        </a>
        to create new Employee
    </div>
}
else
{
    <a asp-action="Create" asp-controller="Employees" class="btn btn-secondary">
        Create
    </a>
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(x => x.EmployeeName)</th>
            <th>@Html.DisplayNameFor(x => x.Email)</th>
            <th>Operations</th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@emp.EmployeeId">@emp.EmployeeName</a>

                </td>
                <td>@emp.Email</td>
                <td>
                    <a asp-action="Details" asp-controller="Employees" class="btn btn-secondary" asp-route-id="@emp.EmployeeId">
                        More Details
                    </a>
                    <a asp-action="Edit" asp-controller="Employees" class="btn btn-success" asp-route-id="@emp.EmployeeId">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Employees" class="btn btn-danger" asp-route-id="@emp.EmployeeId">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>

}

